<md-grid-list cols="3">
  <md-grid-tile>
  </md-grid-tile>
  <md-grid-tile>
    <form [formGroup]="formModel">
      <md-list>
        <md-list-item>
          <md-input-container>
            <input mdInput type="input" placeholder="Title"
                   formControlName="title"
                   [class.error]="hasError('required', 'title')"/>
          </md-input-container>
          <span class="status-message error-message"
                *ngIf="hasError('required', 'title')">Field required</span>
        </md-list-item>
        <md-list-item>
          <md-input-container>
            <textarea mdInput type="input" placeholder="Description" formControlName="description"></textarea>
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <trainme-course-date formControlName="date"></trainme-course-date>
        </md-list-item>
        <md-list-item>
          <md-input-container>
            <input mdInput type="number" placeholder="Duration {{formModel.controls['duration'].value | duration}}"
                   formControlName="duration"/>
          </md-input-container>
        </md-list-item>
        <md-list-item>
          <trainme-authors-list></trainme-authors-list>
        </md-list-item>
        <md-list-item>
          <a md-raised-button [disabled]="formModel?.invalid" (click)="save()">Save</a>
          <a md-raised-button (click)="cancel()">Cancel</a>
        </md-list-item>
      </md-list>
    </form>
  </md-grid-tile>
  <md-grid-tile>
  </md-grid-tile>

</md-grid-list>
<pre>Valid: {{formModel?.valid}}</pre>
<pre>{{formModel?.value | json}}</pre>
