<md-grid-list cols="5" rowHeight="5:1" [ngClass]="{'top-rated-detail': course.topRated}">
  <md-grid-tile [colspan]="1">
    <p>{{course?.title | uppercase}}</p>
  </md-grid-tile>
  <md-grid-tile [colspan]="1">
    <p>{{course?.duration | duration}}</p>
    <p *ngIf="course.topRated">
      <md-icon>star</md-icon>
    </p>
  </md-grid-tile>
  <md-grid-tile [colspan]="1">
    {{course?.createdDate | date:'medium' }}
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="2">
    <md-list>
      <md-list-item><a md-raised-button>Edit course</a></md-list-item>
      <md-list-item><a md-raised-button (click)="onDeleteHandler(course)">Delete</a></md-list-item>
    </md-list>
  </md-grid-tile>
  <md-grid-tile [colspan]="3">
    <p>{{course?.description}}</p>
  </md-grid-tile>
</md-grid-list>
